{% layout 'layout.liquid' %}
{% block content %}
<div id="forgotten">
    <h4 class="space-cowboy">Sorry there space cowboy, your account must be lost in "space"</h4>
    <h4 class="space-cowboy">please create a new account</h4>
    <a href="/auth/signup" class="btn btn-outline-light">Sign Up</a>
</div>
{% endblock %}