{% layout 'layout.liquid' %}

{% block content %}
<form form action="/apods/date/{{#date-input.value}}" method="GET">
       <fieldset>
              <label id="date-label" for="start">Search pictrues by date:</label>
              <input id="date-input" type="date" id="start" name="trip-start" {%- comment -%} duplicate keys of id ! {%- endcomment -%}
                     value={{date}} 
                     min="1995-20-01" max={{date}}>
       </fieldset>
</form>
{% render './nasa.liquid', loggedIn: loggedIn, username: username, userId: userId %}
{% endblock %}