{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">All Astronomy Pictures</h2>
    <div class="row">
        {% for apod in apods %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{apod.url}}" alt="Card image cap">
            <h5 class="card-text">{{ apod.title }}</h5>
            <div class="card-body">
                <a href="/apods/{{ apod.id }}" class="btn btn-info">
                    View Image
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}