{% layout 'layout.liquid' %}
{% block content %}
    <h1 class="display-4">Welcome To The Space App</h1>


    </div>
    <div class="btn-group btn-group-lg">
        <a href="/auth/signup" class="btn btn-success">Sign Up</a>
        <a href="/auth/login" class="btn btn-success">Login</a>
    </div>
{% endblock %}
