<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<div class="container-fluid">
    <a class="navbar-brand" href="/apods">SPACR</a>
    {% if loggedIn %}
    {%- comment -%}href="/apods/mine"{%- endcomment -%}
        <a class="nav-link text-light" >Hello {{username}}</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <a class="nav-link text-light" href="/apods">The Galaxy</a>
        <a class="nav-link text-light" href="/apods/today">Today's Picture</a>
        <a class="nav-link text-light" href="/apods/random">Random</a>
        <a class="nav-link text-light" href="/apods/date">Date Search</a>
        {% if loggedIn %}
            {%- comment -%} <a class="nav-link text-light" href="/apods/new">New Apod</a>  {%- endcomment -%}
            <a class="nav-link text-light ml-auto" href="/auth/logout">Log Out</a>

        {% else %}
            <a class="nav-link text-light" href="/auth/signup">Sign Up</a>
            <a class="nav-link text-light" href="/auth/login">Log In</a>
        {% endif%}
    </div>
</div>
</nav> 


{%- comment -%} {% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">SPACR</a>
        {% if loggedIn %}
        <a href="/apods/mine" class="nav-link text-light">Hello {{ username }} </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if loggedIn %}
                <a href="/apods" class="nav-link text-light">View All</a>
                <a href="/apods/new" class="nav-link text-light">New</a>
                <a href="/apods/mine" class="nav-link text-light">My Examples</a>
                <a href="/auth/logout" class="nav-link text-light">Log Out</a>
            {% else %}
                <a href="/auth/signup" class="nav-link text-light">Sign Up</a>
                <a href="/auth/login" class="nav-link text-light">Sign In</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %} {%- endcomment -%}