#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

.hidden {
  display: none;
}

.cardImg {
  max-height: 15rem;
  object-fit: cover;
}

@font-face {
  font-family: nasa-font;
  src: url(./Nasa.ttf);
}

#spacr-nav {
  font-family: nasa-font;
  margin-top: 0.3rem;
  font-size: 1.8rem;
}

.show-display {
  margin-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 2rem;
  color: white;
}

.img-display {
  width: 100%;
}

.article-show {
  padding-top: 1rem;
}

article > h1 {
  text-align: center;
  font-family: nasa-font;
}

article > h6 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.comment-card{
  background-color: rgba(255, 255, 255, 0.17);
  border: 2px solid;
}

.galaxy-form{
  position: relative;
  float: right;
  margin-top: -3rem;
}

.card {
  border: 2px solid rgba(255, 255, 255, 0.516);
  border-radius: 1.5rem;
}

.card:hover{
  border-color: rgb(255, 255, 255);
}

.the-galaxy {
  text-align: center;
  /* display: inline-block; */
  color: rgba(255, 255, 255, 0.358);
  font-family: nasa-font;
  -webkit-text-stroke: 0.1rem white;
  font-size: 8rem;
  margin-bottom: -3vh;
  margin-top: -1vh;
}

/* .the-galaxy:hover {
  color: white;
} */

.delete:hover{
  background-color: red;
  color: white;
}

.add-galaxy:hover{
  background-color: blueviolet;
  color: white;
}

#date-label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
  color: white;
}

#date-input, #date-label {
  justify-content: center;
  margin: .4rem 0;
}

.login-field{
  text-align: center;
  width: 20vw;
  min-width: 350px;
  color: white;
  background-color: transparent;
  border: 0.15rem solid white;
  border-radius: 0;
  margin-bottom: 2vh;
  /* -webkit-transition: 0.5s; */
  transition: 0.5s;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;

  font-family: nasa-font;
  font-size: 1.5rem;
}

.login-field::placeholder{
  color: white;
  text-align: center;
}

.login-field:focus{
  text-align: center;
  background-color: transparent;
  border: 0.15rem solid white;
  margin-bottom: 2vh;
  color: white;

  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;

  outline:0; /* I have also tried outline:none */
  -webkit-box-shadow: none;
}

.login-field:focus::placeholder {
  color: transparent;
}

#login{
  text-align: center;
  border: 0.15rem solid white;
  border-radius: 0;
  font-family: nasa-font;
  font-size: 1.3rem;
}

#login:hover{
  background-color: rgba(255, 255, 255, 0.184);
  color: white;
}

.login-header{
  color: white;
  text-align: center;
  font-family: nasa-font;
}

#login-form{
  justify-content: center;
}

#login-name{
  font-size: 15rem;
  display: inline;
  justify-content: center;
  color: rgba(255, 255, 255, 0.358);
  font-family: nasa-font;
  -webkit-text-stroke: 0.3rem white;
}

#login-name:hover{
  color: white;
}

#login-desc{
  font-size: 2.5rem;
  border-top: 0.4rem solid white;
  padding-top: 0.7rem;
  margin-top: -3.3rem;
}

#signup-forgot{
  color: white;
  text-align: center;
  position: absolute;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-family: nasa-font;
  font-size: 1.3rem;
}

#signup-forgot a {
  color: white;
  text-decoration: none;
}

#forgotten{
  margin-top: 15vh;
  color: white;
  font-family: nasa-font;
  text-align: center;
}

.space-cowboy{
  font-size: 2rem;
}
